<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mai Trọng Thuần</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="starter-template">
            <h1>Bài tập ứng dụng</h1>
            <p class="text-muted">Vui lòng chọn ảnh trước khi <strong>Nhận diện</strong></p>
        </div>
    </div>

    <header class="navbar">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div align="center">
                <label class="btn btn-default btn-file">
                    Chọn ảnh <input type="file" name="image" style="display: none;" onchange="loadFile(event)">
                </label>
                <input type="submit" value="Nhận diện" class="btn btn-primary">
            </div>
        </form>
    </header>

    <div class="text-center">
        {% if init %}
        {% if faceDetected %}
        <div class="alert alert-success" style="margin-top:18px;">
            Nhận diện <strong>{{ num_faces }}</strong> khuôn mặt!
        </div>
        {% if image_to_show %}
        <div>
            <img src="{{ image_to_show }}">
        </div>
        {% endif %}
        {% else %}
        <div class="alert alert-danger" style="margin-top:18px;">
            <strong>Không phát hiện khuôn mặt nào !</strong>
        </div>
        {% endif %}
        {% endif %}

        {% if error %}
        <div class="alert alert-danger" style="margin-top:18px;">
            <strong>Vui lòng chọn ảnh trước !</strong>
        </div>
        {% else %}
        <img id="output" style="text-align: center" />
        <script>
            var loadFile = function (event) {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.onload = function () {
                    URL.revokeObjectURL(output.src) // free memory
                }
            };
        </script>
        {% endif %}
    </div>

</body>

</html>